{% extends 'base.html' %}
{% block container %}
<main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center text-white mt-4", style="background-image: linear-gradient(to bottom, rgba(10,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://placeimg.com/1280/480/nature); background-size: cover" >
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id,tour in pinned_tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src={{ tour.picture }} alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(80) }}</p>
            <a href="/tours/{{ id }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}